/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
	width: 100%; 
	border-collapse: collapse;
}
/*
tr:nth-of-type(odd) { 
	background: #eee; 
}
*/

th { 
	//background: #333; 
	//color: white; 
	font-weight: bold; 
	border-bottom: 2px solid #CAC2C2; 
}

td{
	border-bottom: 1px solid #FDFCFC;
}

td, th { 
	padding: 6px; 
	text-align: left; 	
}

tr:last-child td{
	border-bottom: 2px solid #CAC2C2; 
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 0px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #CAC2C2; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #FDFCFC; 
		position: relative;
		padding-left: 50%; 
		/*font-size: 12px;*/
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: bold; 
	}
	
	/*Insert data labels here*/

}